.hero {
    * {
        // border: 2px solid blue;
    }
    width: 100%;
    padding: 1rem 0;
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1585643893039-bd73dd37b899?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80');
    background-image: url('https://scontent-jnb1-1.xx.fbcdn.net/v/t1.6435-9/146259704_3492272897550299_465353955942899534_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeECju5rmnBGgmr2C2f8iTJNMgvcKkykXdYyC9wqTKRd1rF7TPyLeAvWU8OX0sEsjGk&_nc_ohc=HIg9fhAdKZIAX_OdjgE&_nc_ht=scontent-jnb1-1.xx&oh=00_AT9FwnReg_TecKJ1YLvPB8xmG3utthtbnq42b7qkmdkJZQ&oe=6344969E');
    background-image: url('https://scontent-jnb1-1.xx.fbcdn.net/v/t39.30808-6/244540983_4192064474237801_5310205968955453869_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGka94t3pibxywbLMpkJHBt7u2WjuHYeVju7ZaO4dh5WDDAxD5Ikr6aFQlI--1VvyE&_nc_ohc=myA1_ZSglREAX92Yjde&tn=U04RDtz4Uikh6hG3&_nc_ht=scontent-jnb1-1.xx&oh=00_AT_PQOsehdGD6RYZUTwi4yxRey2rs7BPsXMsRH8T72-VFg&oe=6321C7E5');
    background-image: url(../img/hero-mobile.jpg);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, .98) 60%, transparent 100%);
    background-repeat: no-repeat;
    // background-size: cover;
    // background-position: left;
    isolation: isolate;
    position: relative;
    // OVERLAY 
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/hero-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        z-index: -1;
        mix-blend-mode: overlay;
        // background-size: 50%;
        // opacity: .8;
    }
    @include md {
        background-size: cover;
        background-image: url('https://images.unsplash.com/photo-1614127938540-a1139bee1841?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
        position: relative;
        isolation: isolate;
        background-attachment: fixed;
        // border: 2px solid red;
        // OVERLAY 
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, $overlay-blue-dark 5%, transparent 95%);
            z-index: -1;
            opacity: .2;
        }
    }
    // BANNER LOGO IMAGE
    .hero-logo {
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        border: $border-brand-sm;
        border-radius: $border-radius-sm;
        background: #fff;
        margin-left: 5vw;
        // position: relative;
        // top: 10vh;

        img {
            // display: none;
            width: 100%;
            height: 100%;
        }
    }
    .banner {
        // position: relative;
        // top: 10vh;
        padding: 0 5vw;
        width: 100%;
        margin-top: 1rem;
        @include md {
            top: 20vh;
            width: 50%;
        }
        
        // TITLE = H1 + P
        .title {
            color: $brand;
            color: $text-dark;
            h1 {
                font-size: 2.5rem;
                text-transform: capitalize;
                margin-bottom: .5rem;
            }
            p {
                text-transform: capitalize;
                color: inherit;
                line-height: 1.5;
                span {
                    display: block;
                    opacity: .8;
                    font-size: .85rem;
                    font-family: $font-title;
                }
            }
            @include md {
                // border: 1px solid #0003;
                // padding: .5rem;
                // border-radius: .5rem;
                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.25rem;
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
        // CTA BUTTON
        .cta {
            margin-top: 1.5rem;
        }
    }
}