.projects {
    // border: 2px solid red;

    .projects-container {
        // border: 1px solid blue;
        padding: 5vh 0;

        h2 {
            text-transform: capitalize;
            position: sticky;
            top: 7vh;
            background: $background-secondary;
            color: $overlay-blue-darker;
            font-family: $font-title;
            padding: .5rem 0;
            font-size: 1.25rem;
            transition: 1.5s;
        }
        .grid-container {
            display: grid;
            gap: 5vh;
            transition: 1.5s;
            @include sm {
                gap: .5rem;
                grid-template-columns: 1fr 1fr;
            }
            @include lg {
                grid-template-columns: 1fr 1fr 1fr;
            }
            padding: 5vh 0;

            .grid-item {
                width: 100%;
                height: 70vh;
                transition: 1.5s;

                figure {
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                    border-radius: .5rem;

                    figcaption {
                        text-transform: capitalize;
                        font-family: $font-title;
                        margin: .5rem;
                        transition: 1.5s;
                    }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: .5rem;
                }
            }
            }
        }

        // IO CLASS 
        &.io-item {
            h2 {
                opacity: 0;
                letter-spacing: .05rem;
            }

            .grid-container {
                opacity: 0;
                transform: translateY(5vh);
                .grid-item {
                    figure {
                        figcaption {
                            transform: translateX(1rem);
                        }
                    }
                }
            }
        }
        // ACTIVE IO 
        &.active-item {
            h2 {
                opacity: 1;
                letter-spacing: normal;
            }

            .grid-container {
                opacity: 1;
                transform: translateY(0);
                transition-delay: .5s;
                .grid-item {
                    figure {
                        figcaption {
                            transform: translateX(0);
                            transition-delay: .7s;
                        }
                    }
                }
            }
        }
    }
}