@import 'variables';
@import 'utilities';
@import 'header';
@import 'pads';
@import 'hero';
@import 'services';
@import 'contact';
@import 'mixin';
@import 'work';
@import 'about';
@import 'footer';
*, ::before, ::after {
    // border: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // scroll-padding-top: 7vh;
}


html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    position: relative;
    font-family: $font-content;
}

.container {
    // border: 2px solid #fff000;
    // overflow-x: hidden;
    width: 100%;
    min-height: 200vh;
    position: relative;
    // SIDEBAR OVERLAY
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100vw;
        width: 100%;
        height: 100%;
        background: #000a;
    }

    // ACTIVE SIDEBAR CLASS
    &.active-container {
        &::after {
            left: 0;
        }
    }
    main {
        min-height: 100vh;
        width: 100%;
        border: 2px solid white;
        border: none;

        section {
            min-height: 100vh;
            width: 100%;
            padding: 8vh 5vw;
            background: $background-secondary;
            // border-bottom: .15rem dashed rgba(0, 0, 0, 0.247);
            position: relative;
            @include md {
                padding: 10vh 5vw;
            }

            .section-title {
                position: relative;
                // position: sticky;
                // top: 7vh;
                background: $background-secondary;
                background: transparent;
                z-index: 1;
                // width = 80% to remove from top btn overlap
                width: 80%;
                // overflow: hidden;
                @include md {
                    // top: 9vh;
                }
                h1 {
                    border: $border-dark-sm;
                    border-color: transparent;
                    border-radius: $border-radius-sm;
                    text-transform: capitalize;
                    font-family: $font-title;
                    font-size: 2.5rem;
                    color: $overlay-blue-dark;
                    color: $brand-logo;
                    // text-shadow: 1px 0 2px #fff;
                    line-height: 1.1;
                    font-weight: 600;
                    padding: 0 .5rem;
                    width: 7rem;
                    width: max-content;
                    transition: .5s;
                    isolation: isolate;
                    position: relative;
                    span {
                        position: absolute;
                        transform: scale(.5);
                        left: .5rem;
                        top: 2rem;
                    }
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 5vw;
                    width: 20%;
                    height: 100%;
                    background-color: $overlay-blue-light;
                    // background-color: $brand-logo;
                    z-index: -1;
                    opacity: .4;
                    transition: 1s;
                    @include md {
                        width: 10%;
                        // left: 0;
                    }
                }
                    @include sm {
                        // width: 10rem;
                        font-size: 2.5rem;
                    }
                }

                &.active-title {
                    h1 {
                        opacity: .8;
                        &::before {
                            transform: rotate(45deg) scale(.8);
                            border-radius: $border-radius-md;
                            opacity: .2;
                        }
                    }
                }
            }

        }
        .section-pad {
            // border: 2px solid red;
            overflow: hidden;
            width: 100%;
            height: 70vh;
            figure {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            @include md {
                height: 100vh;
                figure {
                    display: none;
                }
                background-image: url("../img/logo.png");
                background-position: center;
                background-size: 35%;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        }

        
    }
}