@use '../abstracts';

.gallery {
    // border: 2px solid red;
    width: 100%;
    // BUTTON CONTAINER 
    .btn-container {
        // border: 2px solid blue;
        margin: 5vh auto;
        padding: .5rem .25rem;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        position: sticky;
        top: 7vh;
        background: abstracts.$background-secondary;
        @include abstracts.md {
            padding: 1rem 0;
        }
        // BUTTONS
        .filter-btn {
            font-size: .7rem;
            @include abstracts.md {
                font-size: 1rem;
            }
            padding: .25rem .5rem;
            border-radius: abstracts.$border-radius-sm;
            border: abstracts.$border-dark-sm;
            border: none;
            text-transform: capitalize;
            background: abstracts.$btn-filter;
            cursor: pointer;
            transition: .25s;
            display: block;
            isolation: isolate;
            position: relative;
            // PSEUDO BACKGROUND
            &::after, &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: abstracts.$border-radius-sm;
                transition: .25s;
                z-index: -1;
            }
            &::before {
                background: abstracts.$btn-filter;
            }
            &::after {
                opacity: 0;
                background: abstracts.$btn-filter-hover;
                background: abstracts.$btn-brand-hover;
            }

            &:hover, &:active, &:focus {
                    transform: scale(.95);
                    color: abstracts.$brand;
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
            

            
        }
    }

    .gallery-center {
        // border: 2px solid blue;
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10vh;
        @include abstracts.sm {
            grid-template-columns: 1fr 1fr;
        }
        @include abstracts.md {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .gallery-item {
            // border: 1px solid green;
            width: 100%;
            
            img {
                border-radius: abstracts.$border-radius-sm;
                width: 100%;
                height: auto;
                @include abstracts.sm {
                    height: 50vh;
                }
                @include abstracts.lg {
                    height: 70vh;
                }
            }

            .item-info {
                @include abstracts.md {
                    text-align: center;
                }
                .item-title {
                    text-transform: capitalize;
                    padding: .5rem 0;
                    font-size: 1rem;
                }
                .title-info {
                    margin: .2rem 0;
                }

                .item-text {
                    padding: 1rem 0;
                }
            }
        }
    }

}