@use '../abstracts';

.hero {
    width: 100%;
    padding: 1rem 0 1rem;
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, .98) 60%, transparent 100%);
    background-repeat: no-repeat;
    isolation: isolate;
    position: relative;

    .hero-image {
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, .96) 70%, transparent 100%);
        
        @include abstracts.sm {
            background-image: linear-gradient(90deg, rgba(255, 255, 255, .96) 45%, transparent 60%);
        }
        @include abstracts.md {
            background-image: linear-gradient(90deg, rgba(255, 255, 255, .96) 30%, transparent 40%);
            // background: linear-gradient(90deg, abstracts.$overlay-blue-dark 5%, transparent 95%);
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            mix-blend-mode: overlay;
            object-position: 0% 0%;
            @include abstracts.md {
                object-position: center;
            }
        }
    }
    // OVERLAY 
    // &::after {
    //     position: absolute;
    //     content: '';
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url(../img/hero-mobile.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-position: left;
    //     z-index: -1;
    //     mix-blend-mode: overlay;
    // }
    // @include abstracts.md {
    //     background-size: cover;
    //     background-image: url('../../img/eric-wang-umD2Bj4FmMU-unsplash.jpg');
    //     position: relative;
    //     isolation: isolate;
    //     background-attachment: fixed;
    //     // OVERLAY 
    //     &::after {
    //         position: absolute;
    //         content: '';
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         background: linear-gradient(90deg, abstracts.$overlay-blue-dark 5%, transparent 95%);
    //         z-index: -1;
    //         opacity: .2;
    //     }
    // }
    // BANNER LOGO IMAGE
    .hero-logo {
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        border: abstracts.$border-brand-sm;
        border-radius: abstracts.$border-radius-sm;
        background: #fff;
        margin-left: 5vw;

        @include abstracts.lg {
            width: 8rem;
            height: 8rem;
        }

        img {
            // display: none;
            width: 100%;
            height: 100%;
        }
    }
    .banner {
        // border: 2px solid red;
        padding: 0 5vw;
        width: 100%;
        margin-top: 5vh;
        @include abstracts.md {
            top: 20vh;
        }
        
        // TITLE = H1 + P
        .title {
            color: abstracts.$text-dark;
            h1 {
                font-size: 2.25rem;
                font-size: clamp(2.25rem, 4vw, 2.5rem);
                text-transform: capitalize;
                margin-bottom: 1rem;
            }
            p {
                text-transform: capitalize;
                line-height: 1.4;
                font-weight: 500;
                font-size: 1rem;
                font-size: clamp(1rem, 1vw, 1.05rem);
                span {
                    display: block;
                    opacity: .7;
                    margin: .25rem 0 1rem;
                    font-size: .85rem;
                    // font-family: abstracts.$font-title;
                }
            }
        }
        // CTA BUTTON
        .cta {
        }
    }
}